* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Montserrat, Futura, Arial, sans-serif;
  color: var(--black);
}

:root {
  --white: #ffffff;
  --grey: #e6e5e1;
  --black: #000000ff;
  --red: #e30613;
}

body {
  background-color: var(--grey);
}
