* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Montserrat, Futura, Arial, sans-serif;
  color: var(--black);
}

:root {
  --white: #ffffff;
  --grey: #ececec;
  --black: #2d2c54;
  --red: #fd5e5c;
}

body {
  background-color: var(--grey);
}

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style-type: none;
  padding: 0;
}

/* .pagination-page {
  margin: 0 10px;
  padding: 0 8px;
  font-weight: bold;
  cursor: pointer;
} */

.pagination li {
  margin: 0 5px; /* Adjust spacing between each page number */
}

.previous,
.next {
  margin: 0 10px;
  font-weight: bold;
  cursor: pointer;
  background-color: var(--white);
  width: 5%;
  padding: 10px 15px;
  border-radius: 10%;
  text-align: center;
}

.active {
  background-color: var(--red); /* Adjust background color of active page */
  color: #fff; /* Adjust text color of active page */
  padding: 5px;
  border-radius: 3px;
}

.disabled {
  color: #ccc; /* Adjust text color of disabled page/arrow */
  cursor: not-allowed; /* Show disabled cursor for disabled pages/arrows */
}
