* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Montserrat, Futura, Arial, sans-serif;
  color: var(--black);
}

:root {
  --white: #ffffff;
  --grey: #ececec;
  --black: #2d2c54;
  --red: #fd5e5c;
}

body {
  background-color: var(--grey);
}
